@model TaskDto
@{
    Layout = null;
    bool isEdit = Model.Id > 0;
}
<div class="container border border-dark p-4">
    <form method="post" asp-action="@(isEdit ? "Update" : "Add")" asp-controller="Task">
        <div class="row text-center">
            <div class="col-sm-4">
                <h1>SB Software</h1>
            </div>
            <div class="col-sm-4">
                <h3 class="bg-dark text-center text-white p-4">TEKNIK KART</h3>
            </div>
            <div class="col-sm-4">
                <table class="table table-bordered">
                    <tr>
                        <th>Tarih:</th>
                        <td><input type="text" class="form-control" disabled value="@(!isEdit ? DateTime.Now : Model.DateAdded)" /></td>
                    </tr>
                    <tr>
                        <th>Kart No:</th>
                        <td><input type="text" value="@Model.Id" disabled class="form-control" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-bordered">
                    <tr>

                        <th>Proje No/Adı:</th>
                        <td> <span asp-validation-for="Name" class="text-danger"></span> <input type="text" class="form-control" asp-for="Name" /></td>
                    </tr>
                    <tr>
                        <th>Teknik Uzman:</th>
                        <td><span asp-validation-for="UserId" class="text-danger"></span><select class="form-control" asp-for="UserId" asp-items="ViewBag.UsersList"></select></td>
                    </tr>
                    <tr>
                        <th>Durum:</th>
                        <td>
                            <span asp-validation-for="Status" class="text-danger"></span>
                            <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<EntityTaskStatus>()"></select>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="table table-bordered">
                    <tr>
                        <th>Tahmini Süre:</th>
                        <td><span asp-validation-for="EstimatedTime" class="text-danger"></span><input type="text" class="form-control" asp-for="EstimatedTime" value="@DateTime.Now" /></td>
                    </tr>
                    <tr>
                        <th>Gerçekleşen Süre:</th>
                        <td>@(Model.Id>0 ? Model.ActualTime.ToShortTimeString() : "")</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="jobDescription" class="float-left"><strong>İşin Açıklaması:</strong></label>
                    <textarea class="form-control" style="min-height: 200px" asp-for="Description"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="jobDescription" class="float-left"><strong>Notlar:</strong></label>
                    <textarea class="form-control" style="min-height: 100px" asp-for="Notes"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary @(isEdit ? "d-none" : "")" data-dismiss="modal">Kapat</button>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle mr-2"></i>Kaydet</button>
        </div>
    </form>

    <div class="row @(isEdit ? "" : "d-none")">
        <div class="col-12">
            <label class="float-left"><strong>İş Takibi:</strong></label>
            <table id="taskTodoTable" class="table table-bordered table-hover table-responsive-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tarih</th>
                        <th>Yapılacak İş</th>
                        <th>Açıklama</th>
                        <th>Durum</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="col-12 border border-secondary">
            <h4 class="my-2 ml-3">Yapılacak İş Ekle</h4>
            <hr />
            <div class="btn btn-success btn-sm  ml-2" id="btnSwitchAddForm"><i class="fas fa-plus-circle mr-2"></i>Yapılacak İş Ekle</div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div id="taskTodosForm" class="row  p-4 ">
                <input type="hidden" id="taskId" value="@Model.Id" />
                <input type="hidden" id="taskTodoId" value="" />

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Yapılacak İş</label>
                        <input id="name" type="text" class="form-control" required />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Açıklama</label>
                        <input id="description" type="text" class="form-control" required />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Durum</label>
                        <select class="form-control" id="status" required name="status" asp-items="Html.GetEnumSelectList<TaskTodoStatus>()"></select>
                    </div>
                </div>

                <div class="col-sm-2 align-self-center">
                    <div class="form-group">
                        <a id="btnSubmit" class="btn btn-success btn-AddTaskTodo mt-4 text-white" style="cursor: pointer">Yapılacak İşi Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



