@model TasksViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section id="main">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success my-2 float-right" data-toggle="modal" data-target="#newTaskModal">
                Yeni Görev Ekle
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    Todo
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-todo" id="todo">

                        @foreach (var item in Model.TodoTasks)
                        {
                            <li>

                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <p>@item.Name</p>
                                </div>

                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>Todo</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7"  class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" asp-action="Delete" asp-controller="Task" asp-route-id="@item.Id">Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat</button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Task" asp-route-id="@item.Id">Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    In Progress
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-progress" id="inProgress">


                        @foreach (var item in Model.InProgressTasks)
                        {
                            <li>

                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <p>@item.Name</p>
                                </div>



                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>In Progress</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7" class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" asp-action="Delete" asp-controller="Task" asp-route-id="@item.Id">Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat</button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Task" asp-route-id="@item.Id">Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    In Review
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-review" id="review">
                        @foreach (var item in Model.InReviewTasks)
                        {
                            <li>

                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <p>@item.Name</p>
                                </div>



                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>In Review</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7" class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" asp-action="Delete" asp-controller="Task" asp-route-id="@item.Id">Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat</button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Task" asp-route-id="@item.Id">Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }

                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    Done
                </div>
                <div class="todo-card-body bg-lightgray">
                    <ul class="list-unstyled ul-done" id="done">

                        @foreach (var item in Model.DoneTasks)
                        {
                            <li>

                                <div data-toggle="modal" data-target="#taskDetailModal-@item.Id" id="@item.Id" class="todo-card">
                                    <p>@item.Name</p>
                                </div>



                                <div class="modal fade modal-taskdetails" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                    <div class="col-11">
                                                        <h5 class="modal-title" id="exampleModalLabel">@item.Name</h5>
                                                    </div>
                                                    <div class="col-1 justify-content-end">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="text-muted d-block"><u>Done</u> listesinde.</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <label>Kime Atanmış: <strong>@item.User?.Name</strong></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <label><strong>Açıklama</strong></label>
                                                <textarea disabled rows="7" class="form-control task-description">@item.Description</textarea>
                                            </div>
                                            <div class="modal-footer d-block">
                                                <a class="btn btn-danger float-left" asp-action="Delete" asp-controller="Task" asp-route-id="@item.Id">Sil</a>
                                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Kapat</button>
                                                <a class="btn btn-warning float-right" asp-action="Update" asp-controller="Task" asp-route-id="@item.Id">Düzenle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        }
                    </ul>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni Görev Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @await Component.InvokeAsync("TaskDtoComponent", new { taskDto = Model.TaskDto })
                </div>
            </div>
        </div>
    </div>



</section>

@section Scripts{
    <script>

        $(function () {
            $(".ul-todo, .ul-progress, .ul-review, .ul-done").sortable({
                connectWith: "ul",
                dropOnEmpty: true,
                receive: function (event, ui) {
                    var newState = event.target.id;
                    var item = ui.item;
                    var movedItemId = item.find(".todo-card").attr("id")

                    $.post("/Task/ChangeTaskState", { id: movedItemId, newState: event.target.id }
                    ).done(function (data) {
                        console.log("Success!!");
                    })
                        .fail(function (data) {
                            console.log("Error" + data)
                        });

                }
            }).disableSelection();
        });


    </script>
} 