@model TasksViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section id="main">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success my-2 float-right" data-toggle="modal" data-target="#newTaskModal">
                Yeni Görev Ekle
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    Todo
                </div>
                <div class="todo-card-body bg-lightgray">
                    @if (Model.TodoTasks.Count == 0)
                    {
                        <p class="badge-info p-2">Burada hiç görev yok!</p>
                    }
                    else
                    {
                        @foreach (var item in Model.TodoTasks)
                        {
                            <div class="todo-card">
                                <p>@item.Name</p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    In Progress
                </div>
                <div class="todo-card-body bg-lightgray">
                    @if (Model.InProgressTasks.Count == 0)
                    {
                        <p class="badge-info p-2">Burada hiç görev yok!</p>
                    }
                    else
                    {
                        @foreach (var item in Model.InProgressTasks)
                        {
                            <div  data-toggle="modal" data-target="#taskDetailModal-@item.Id" class="todo-card">
                                <p>@item.Name</p>
                            </div>

                            <div class="modal fade" id="taskDetailModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="taskDetailModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @item.Description
                                            @item.Name
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    In Review
                </div>
                <div class="todo-card-body bg-lightgray">
                    @if (Model.InReviewTasks.Count == 0)
                    {
                        <p class="badge-info p-2">Burada hiç görev yok!</p>
                    }
                    else
                    {
                        @foreach (var item in Model.InReviewTasks)
                        {
                            <a href="#">
                                <div class="todo-card">
                                    <p>@item.Name</p>
                                </div>
                            </a>
                        }
                    }


                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header todo-card-header">
                    Done
                </div>
                <div class="todo-card-body bg-lightgray">
                    @if (Model.DoneTasks.Count == 0)
                    {
                        <p class="badge-info p-2">Burada hiç görev yok!</p>
                    }
                    else
                    {
                        @foreach (var item in Model.DoneTasks)
                        {
                            <div class="todo-card">
                                <p>@item.Name</p>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Yeni Görev Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @await Component.InvokeAsync("TaskDtoComponent", new { taskDto = Model.TaskDto })
                </div>
            </div>
        </div>
    </div>



</section>
